<!-- <div class="flex justify-center items-center w-screen h-screen">
  <div class="flex flex-row w-[325px] bg-slate-600">
    <div class="flex w-64 bg-orange-400 flex-wrap">
      <p class=" flex flex-wrap w-full bg-slate-100"></p>
      <h1></h1>
    </div>
    <div class="basis-5/12 bg-cyan-300">
        sd
    </div>
  </div>
</div> -->
<!-- <nz-date-picker
[nzDisabledDate]="disabledStartDate"
nzShowTime
nzFormat="yyyy-MM-dd HH:mm:ss"
[(ngModel)]="startValue"
nzPlaceHolder="Start"
(nzOnOpenChange)="handleStartOpenChange($event)"
></nz-date-picker>
<nz-date-picker
#endDatePicker
[nzDisabledDate]="disabledEndDate"
nzShowTime
nzFormat="yyyy-MM-dd HH:mm:ss"
[(ngModel)]="endValue"
nzPlaceHolder="End"
(nzOnOpenChange)="handleEndOpenChange($event)"
></nz-date-picker> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KKU-BOARD</title>
</head>
<body class="flex flex-row">
  <div class="">

  </div>
</body>
</html> -->
