<div
  class="flex w-[330px] h-[40px] sm:w-[700px] sm:h-[100px] border-2 border-gray-200 bg-white rounded-[25px] items-center p-5"
  *ngFor="let item of dataBase"
>
  <img
    class="rounded-full sm:w-[50px] sm:h-[50px] w-[22px] h-[22px]"
    src="{{item.image}}"
  />
  <button
    (click)="showModal()"
    class="w-[280px] sm:w-[600px] h-[23px] sm:h-[50px] bg-[#EAEAEA] ml-3 rounded-[18px]"
  >
    <p class="flex self-start ml-[23px] text-[#243A73] sm:text-base text-xs">
      คุณต้องการเพิ่มกิจกรรมอะไร?
    </p>
  </button>

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalContent>
      <p nz-row nzJustify="center">สร้างกิจกรรม</p>
      <hr />
      <p>หัวข้อกิจกรรม</p>
      <textarea
        [rows]="1"
        class="resize-none px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
        placeholder="..."
      ></textarea>
      <p>รายละเอียดกิจกรรม</p>
      <textarea
        [rows]="4"
        class="resize-none px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
        placeholder="..."
      ></textarea>
      <p>จำนวนคนเข้าร่วม</p>
      <textarea
        [rows]="1"
        class="resize-none px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
        placeholder="..."
      ></textarea>
      <p>รูปแบบกิจกรรม</p>
      <select
        id="small"
        class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected></option>
        <option value="ออนไซต์">ออนไซต์</option>
        <option value="ออนไลน์">ออนไลน์</option>
      </select>
      <p>สถานที่จัดกิจกรรม</p>
      <textarea
        [rows]="1"
        class="resize-none px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
        placeholder="..."
      ></textarea>
      <p>วันที่จัดกิจกรรม</p>
      <nz-range-picker
        [nzRanges]="ranges"
        nzShowTime
        nzWidth="100%"
        nzFormat="yyyy/MM/dd HH:mm:ss"
        ngModel
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
      <p>กำหนดโรลที่มองเห็นกิจกรรม</p>
      <nz-select
        [nzMaxTagCount]="3"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        nzMode="multiple"
        nzPlaceHolder="โรลที่มองเห็นได้"
        [(ngModel)]="listOfSelectedValue"
      >
        <nz-option
          *ngFor="let item of listOfOption"
          [nzLabel]="item"
          [nzValue]="item"
        ></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList
        >และอีก {{ selectedList.length }} โรล</ng-template
      >
      <p>อัปโหลดรูปภาพ</p>
      <div class="clearfix">
        <nz-upload nzListType="picture-card">
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>

      <div nz-row nzJustify="center">
        <button
          class="bg-blue-900 w-28 h-8 rounded-2xl border-2 border-blue-900 text-white hover:bg-white hover:text-blue-900 delay-100"
          nzType="default"
          (click)="handleActivity() "
          nzAlign="middle"
        >
          เพิ่มกิจกรรม
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>
