nz-select {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
}
nz-select:hover {
    border: 1px solid #243A73;
}

small {
    color: #B73151;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }