<form
  [formGroup]="signUpClubForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-1 my-1"
>
  <input
    nz-input
    nzSize="large"
    class="rounded-[15px]"
    placeholder="ชื่อชุมนุม/ชมรม"
    type="text"
    formControlName="clubName"
  />
  <small
    *ngIf="
      signUpClubForm.controls['clubName'].hasError('required') &&
      signUpClubForm.controls['clubName'].invalid &&
      signUpClubForm.controls['clubName'].touched
    "
    >*กรุณากรองชื่อชุมนุม/ชมรม
  </small>

  <nz-select
    nzBorderless
    nzSize="large"
    ngModel="faculty"
    nzPlaceHolder="คณะ"
    formControlName="faculty"
  >
    <nz-option
      *ngFor="let faculty of facultys"
      nzValue="{{ faculty.value }}"
      nzLabel="{{ faculty.name }}"
    ></nz-option>
  </nz-select>
  <small
    *ngIf="
      signUpClubForm.controls['faculty'].hasError('required') &&
      signUpClubForm.controls['faculty'].invalid &&
      signUpClubForm.controls['faculty'].touched
    "
    >*กรุณาเลือกคณะ
  </small>

  <input
    nz-input
    nzSize="large"
    class="rounded-[15px]"
    placeholder="อีเมล"
    type="email"
    formControlName="email"
  />
  <small
    *ngIf="
      signUpClubForm.controls['email'].hasError('required') &&
      signUpClubForm.controls['email'].invalid &&
      signUpClubForm.controls['email'].touched
    "
    >*กรุณากรองอีเมล
  </small>
  <small
    *ngIf="
      signUpClubForm.controls['email'].hasError('email') &&
      signUpClubForm.controls['email'].invalid &&
      signUpClubForm.controls['email'].touched
    "
    >*กรุณากรองอีเมลให้ถูกต้อง
  </small>

  <div class="flex w-full gap-1">
    <div class="w-1/2 flex flex-col">
      <input
        nz-input
        nzSize="large"
        class="rounded-[15px]"
        placeholder="รหัสผ่าน"
        type="password"
        formControlName="password"
      />
      <small
        *ngIf="
          signUpClubForm.controls['password'].hasError('required') &&
          signUpClubForm.controls['password'].invalid &&
          signUpClubForm.controls['password'].touched
        "
        >*กรุณากรองรหัสผ่าน
      </small>
      <small
        *ngIf="
          signUpClubForm.controls['password'].hasError('minLength') &&
          signUpClubForm.controls['password'].invalid &&
          signUpClubForm.controls['password'].touched
        "
        >*ความยาวรหัสผ่านไม่เพียงพอ
      </small>
    </div>
    <div class="w-1/2 flex flex-col">
      <input
        nz-input
        nzSize="large"
        class="rounded-[15px]"
        placeholder="ยืนยันรหัสผ่าน"
        type="password"
        formControlName="confirmPassword"
      />

      <small
        *ngIf="
          signUpClubForm.controls['confirmPassword'].hasError('required') &&
          signUpClubForm.controls['confirmPassword'].invalid &&
          signUpClubForm.controls['confirmPassword'].touched
        "
        >*กรุณากรองยืนยันรหัสผ่าน
      </small>
      <small
        *ngIf="
          signUpClubForm.controls['confirmPassword'].hasError('minlength') &&
          signUpClubForm.controls['confirmPassword'].invalid &&
          signUpClubForm.controls['confirmPassword'].touched
        "
        >*ความยาวรหัสผ่านไม่เพียงพอ
      </small>
    </div>
  </div>

  <button
    class="my-2 h-12 text-2xl"
    nz-button
    nzType="primary"
    [disabled]="signUpClubForm.invalid"
  >
    สมัครชุมนุม/ชมรม
  </button>
</form>
