@media screen and (max-width: 800px) {
  .res-width {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .res-width {
    width: 355px;
  }
}
::ng-deep .ant-modal {
  top: calc(50% - 290px);
}
