<div class="res-width">
  <nz-table
    #myTableEvent
    [nzData]="listOfData"
    [nzPageSize]="4"
    [nzScroll]="{ x: '800px' }"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th nzEllipsis [nzAlign]="'center'" id="eventHeader">ชื่อกิจกรรม</th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="150px" id="startDate">
          วันที่เริ่มกิจกรรม
        </th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="150px" id="endDate">
          วันที่สิ้นสุดกิจกรรม
        </th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="150px" id="deadline">
          นับเวลาถอยหลัง
        </th>
        <th
          nzEllipsis
          [nzAlign]="'center'"
          nzWidth="200px"
          nzRight=""
          id="active"
        ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myTableEvent.data">
        <td nzEllipsis>{{ item.eventHeader }}</td>
        <td nzEllipsis [nzAlign]="'center'">{{ item.startDate }}</td>
        <td nzEllipsis [nzAlign]="'center'">{{ item.endDate }}</td>
        <td nzEllipsis [nzAlign]="'center'">
          <nz-countdown
            [nzValue]="item.deadline"
            [nzFormat]="'D:HH:mm'"
          ></nz-countdown>
        </td>
        <td nzRight>
          <div class="flex gap-2 justify-center">
            <button nz-button nzType="primary" (click)="getEvent()">
              รายละเอียด
            </button>
            <button nz-button nzDanger nzType="primary" (click)="deleteEvent()">
              ลบ
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
