<div class="res-width">
  <nz-table
    #myTableEvent
    [nzData]="events"
    [nzPageSize]="4"
    [nzScroll]="{ x: '800px' }"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th nzEllipsis [nzAlign]="'left'" nzWidth="57%" id="eventHeader">
          ชื่อกิจกรรม
        </th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="11%" id="startDate">
          วันที่เริ่มกิจกรรม
        </th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="11%" id="endDate">
          วันที่สิ้นสุดกิจกรรม
        </th>
        <th nzEllipsis [nzAlign]="'center'" nzWidth="11%" id="deadline">
          นับเวลาถอยหลัง
        </th>
        <th
          nzEllipsis
          [nzAlign]="'center'"
          nzWidth="200px"
          nzRight=""
          id="active"
        ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myTableEvent.data">
        <td nzEllipsis>{{ item.eventHeader }}</td>
        <td nzEllipsis [nzAlign]="'center'">{{ item.startDate }}</td>
        <td nzEllipsis [nzAlign]="'center'">{{ item.endDate }}</td>
        <td nzEllipsis [nzAlign]="'center'">
          <ng-container *ngIf="item.deadline - toDay > aDay">
            <nz-countdown
              [nzValue]="item.deadline"
              [nzFormat]="'D วัน'"
            ></nz-countdown>
          </ng-container>
          <ng-container
            *ngIf="
              item.deadline - toDay > aHour && item.deadline - toDay < aDay
            "
          >
            <nz-countdown
              [nzValue]="item.deadline"
              [nzFormat]="'H ชั่วโมง'"
            ></nz-countdown>
          </ng-container>
          <ng-container *ngIf="item.deadline - toDay < aHour">
            <nz-countdown
              [nzValue]="item.deadline"
              [nzFormat]="'m นาที'"
            ></nz-countdown>
          </ng-container>
        </td>
        <td nzRight>
          <div class="flex gap-2 justify-center">
            <button nz-button nzType="primary" (click)="getEvent(item)">
              รายละเอียด
            </button>
            <button nz-button nzDanger nzType="primary" (click)="deleteEvent(item)">
              ลบ
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
