<form class="flex flex-col lg:w-[440px] md:w-80 w-[350px] gap-1 text-[#243A73]" [formGroup]="regUserForm" (ngSubmit)="onSubmit()">
    <input nz-input nzSize="large" class="rounded-[15px]" placeholder="ชื่อจริง" type="firstName" formControlName="firstName" />
    <input nz-input nzSize="large" class="rounded-[15px]" placeholder="นามสกุล" type="lastName" formControlName="lastName" />
    <nz-select nzBorderless nzSize="large" ngModel="faculty" nzPlaceHolder="คณะ" (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}">
        <nz-option *ngFor="let faculty of facultys" nzValue="{{faculty.value}}" nzLabel="{{faculty.name}}"></nz-option>
    </nz-select>
    <nz-select nzBorderless nzSize="large" *ngIf="majors" nzPlaceHolder="สาขาวิชา" ngModel="major" [ngModelOptions]="{standalone: true}">
        <nz-option *ngFor=" let major of majors " nzValue="{{major.value}} " nzLabel="{{major.name}} "></nz-option>
    </nz-select>
</form>