<div
  class="flex md:flex-row bg-white drop-shadow-2xl p-[5px] md:p-0 md:h-[190px] w-[330px] md:w-full rounded-2xl mb-5"
  *ngFor="let item of datas"
>
  <div class="content-image">
    <img
      class="md:h-full h-[80px] md:w-[300px] w-[140px] rounded-2xl md:rounded-l-2xl mt-[20px] md:mt-0 hidden md:flex object-cover "
      src="{{item.image}}"
      alt="content"
    />
  </div>
  <div class="relative my-2  md:w-full w-full h-full">
    <p class="mt-8 ml-8 text-base text-gray-500 md:flex">{{item.startDate}}</p>
    <p
      class="ml-8 text-xl leading-6 font-bold text-gray-900 md:align-middle"
      nz-typography
      nzEllipsis
      [nzEllipsisRows]="2"
    >
      {{item.eventHeader}}
    </p>
    <p
      class=" ml-8 text-base leading-6 font-light text-gray-600 md:flex"
      nz-typography
      nzEllipsis
      [nzEllipsisRows]="1"
    >
      {{item.location}}
    </p>
    <div class="flex flex-row  justify-between">
      <p
        class=" ml-8 text-base leading-6 font-light text-gray-600 hidden md:flex"
      >
        ผู้เข้าร่วม {{item.attendees}} ท่าน
      </p>
      <div class="flex flex-row justify-end">
        <button
          (click)="showModal()"
          class=" ml-8 md:ml-12 w-28 h-8 "
          nz-button
        >
          รายละเอียด
        </button>
        <button
          nz-popconfirm
          nzPopconfirmTitle="กรุณากดยืนยันเพื่อเข้าร่วมกิจกรรม?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm()"
          (nzOnCancel)="cancel()"
          class=" ml-4 md:ml-8 mr-5 w-28 h-8 "
          nz-button  nzType="primary"
        >
          เข้าร่วม
        </button>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="{{item.eventHeader}}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk() "
          [nzFooter]="null"
        >
          <ng-container *nzModalContent>
            <p class="" nz-row nzJustify="end">{{item.startDate}}</p>

            <img class="h-full w-full" src="{{item.image}}" />
            <p>{{item.description}}</p>
            <p class="mt-[10px]" nz-row nzJustify="end">{{item.location}}</p>
          </ng-container>
        </nz-modal>
      </div>
    </div>
  </div>
</div>
