<div class="flex flex-row ">
  <img class="w-1/2 h-screen object-cover" src="https://media.discordapp.net/attachments/982610388510212136/985605082965999726/5sneSHZl.jpg">
  <div class="flex flex-col mx-10 place-content-center">
    <h1 class="font-extrabold text-7xl text-blue-900">KKU BOARDS</h1>
    <h5 class="font-semibold text-xl text-blue-900 mb-10">บอร์ดรวมกิจกรรมสำหรับคุณ</h5>
    <input type="email" nz-input nzSize="default" [(ngModel)]="email" required  #emailNgModel="ngModel" pInputText placeholder="อีเมล" class="rounded-md bg-gray-100 mb-5 text-base">
    <div *ngIf="emailNgModel.invalid">
      กรุณากรอกอีเมลด้วยนะคะ
    </div>
    <input type="password" nz-input nzSize="default" [(ngModel)]="password" required pInputText placeholder="รหัสผ่าน" class="rounded-md bg-gray-100 mb-5 text-base">

    <div class="flex flex-row content-between">
      <!-- <input type="checkbox"  name="remember" class="border-2 border-gray-400 p-10" >
      <label for="remember" class="text-base text-gray-400">จดจำรหัสผ่านไว้</label> -->
      <label nz-checkbox [(ngModel)]="checked" class="text-base text-gray-400">Checkbox</label>
      <a href="" class="w-full mt-3   text-gray-400 text-base py-1" >ลืมรหัสผ่าน</a>
    </div>
    <button  class="w-full  border-2 border-blue-900 rounded-md text-center text-white bg-blue-900 text-base py-1 mt-10">เข้าสู่ระบบ</button>
    <a href="" class="w-full mt-3 border-2 border-blue-900 rounded-md text-center text-blue-900 text-base py-1" >สมัครสมาชิก</a>
  </div>

</div>

