
<div class="flex flex-col w-screen h-screen">
  <app-top-bar></app-top-bar>
  <div class="w-screen h-screen flex flex-row bg-white py-10 px-16" id="container">
    <div class="w-[70%] flex flex-col pr-10" id="left">
      <div>
        <p class="text-5xl font-extrabold py-3 ">สร้างกิจกรรม</p>
        <modal-event ></modal-event>
      </div>
      <div class="py-5">
        <p class=" text-5xl font-extrabold py-3">สมาชิกในชมรม</p>
        <club-component></club-component>
      </div>
      <div class="py-5">
        <p class="text-5xl font-extrabold py-3">กิจกรรมในชมรม</p>
        <all-event></all-event>
      </div>

    </div>
    <div class="flex flex-col  w-[30%] items-center" id="right">
      <p class="text-5xl font-extrabold py-3">กิจกรรมที่ใกล้จะถึง</p>
      <app-count-down class=" "></app-count-down>
    </div>
  </div>
</div>

