<app-top-bar></app-top-bar>
<div class="flex xl:flex-row w-screen p-9 flex-col">
  <div class="container-rigth">
    <div>
      <p class="header">สร้างกิจกรรม</p>
      <modal-event></modal-event>
    </div>
    <div class="py-5">
      <p class="header">สมาชิกในชมรม</p>
      <div class="flex w-full justify-end">
        <app-add-member-button></app-add-member-button>
      </div>
      <club-component></club-component>
    </div>
    <div class="py-5">
      <p class="header">กิจกรรมในชมรม</p>
      <all-event></all-event>
    </div>
  </div>
  <div class="container-left">
    <p class="header">กิจกรรมที่ใกล้จะถึง</p>
    <app-count-down class="container-countdown"></app-count-down>
  </div>
</div>
