<nz-table #basicTable [nzData]="data" nzSize="middle">
  <!-- <thead>
    <tr>
      <th></th>
      <th nzAlign="left">ชื่อ</th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td [nzIndentSize]=5>
        <img class="rounded-full w-[50px] h-[50px]" src="{{data.urlImage}}" />
      </td>
      <td >{{ data.firstName}}  {{ data.lastName }}</td>
      <td [nzIndentSize]=100>
        <button nz-button nzType="primary" (click)="showModal(data)">
          รายละเอียด
        </button>
      </td>
      <td><button nz-button nzType="primary" nzDanger>ลบ</button></td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{datamodal.urlImage}}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk() "
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <p>ชื่อสมาชิก:</p>
    <p>{{datamodal.firstName}} {{datamodal.lastName}}</p>
    <p>อีเมล์:</p>
    <p>{{datamodal.email}}</p>
    <p>รหัสนักศึกษา:</p>
    <p>{{datamodal.studentId}}</p>
    <p>คณะ:</p>
    <p>{{datamodal.faculty}}</p>
    <p>สาขา:</p>
    <p>{{datamodal.major}}</p>
    <p>เบอร์โทรศัพท์:</p>
    <p>{{datamodal.phoneNumber}}</p>
  </ng-container>
</nz-modal>
